<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <!-- Load CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="styles.css">
    <!-- Load libraries -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <!-- 2. Load our angular controller -->
    <script src='main.js'></script>
</head>
<body>
<div class="container" ng-app="myApp" ng-controller="eeController">
    <h1>EE kodutöö - Magnus Mihkel Peterson</h1>
    <input class="form-control" type="search" ng-model="search" title="Isikud: " placeholder="Otsi" auto-complete>
    <button id="add-button" class="btn btn-success" ng-click="add()">Lisa uus isik!</button>
    <div class="table-responsive" id="info" ng-style="infoStyle">
        <table class="needs-validation table table-striped table-condensed">
            <tr>
                <th>Eesnimi</th>
                <th>Perenimi</th>
                <th>Sünnikuupäev</th>
                <th>Email</th>
                <th>Aadress</th>
                <th></th>
                <th></th>
            </tr>
            <tr class="form-group">
                <td><input class="form-control" type="text" ng-model="infoEdit.firstName" title="" required></td>
                <td><input class="form-control" type="text" ng-model="infoEdit.lastName" title="" required></td>
                <td><input id="emailEdit" class="form-control" type="date" ng-model="infoEdit.dateOfBirth" title=""
                           required></td>
                <td><input class="form-control" type="email" ng-model="infoEdit.email" title="" required></td>
                <td><input class="form-control" type="text" ng-model="infoEdit.address" title="" required></td>
                <td>
                    <button class="btn btn-success" ng-click="save()">Salvesta!</button>
                </td>
                <td>
                    <button class="btn btn-danger" ng-click="infoStyle = {'display': 'none'}">Tühista!</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-condensed">
            <tr>
                <th>
                    <a href="#" ng-click="sort('firstName')">Eesnimi {{sortType==='firstName'?(sortReverse?'&#8595;':'&#8593;'):''}}</a>
                </th>
                <th>
                    <a href="#" ng-click="sort('lastName')">Perenimi {{sortType==='lastName'?(sortReverse?'&#8595;':'&#8593;'):''}}</a>
                </th>
                <th>
                    <a href="#" ng-click="sort('dateOfBirth')">Sünnikuupäev {{sortType==='dateOfBirth'?(sortReverse?'&#8595;':'&#8593;'):''}}</a>
                </th>
                <th>
                    <a href="#" ng-click="sort('email')">Email {{sortType==='email'?(sortReverse?'&#8595;':'&#8593;'):''}}</a>
                </th>
                <th>
                    <a href="#" ng-click="sort('address')">Aadress {{sortType==='address'?(sortReverse?'&#8595;':'&#8593;'):''}}</a>
                </th>
                <th></th>
            </tr>
            <tr ng-repeat="x in eeData | orderBy:sortType:sortReverse | filter:search">
                <td>{{ x.firstName }}</td>
                <td>{{ x.lastName }}</td>
                <td>{{ x.dateOfBirth | date:'dd/MM/yyyy'}}</td>
                <td>{{ x.email }}</td>
                <td>{{ x.address }}</td>
                <td>
                    <button class="btn btn-warning btn-sm" ng-click="edit(x.id)">Muuda!</button>
                    <button class="btn btn-danger btn-sm" ng-click="remove(x.id)">Kustuta!</button>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>